<div class="row">
  <div class="sub-menu">

    <div class="links">
      <a i18n routerLink="instance" routerLinkActive="active" class="title-page title-page-about">Dieser Server</a>

      <a i18n routerLink="peertube" routerLinkActive="active" class="title-page title-page-about">Das PeerTube Projekt</a>

      <a i18n routerLink="follows" routerLinkActive="active" class="title-page title-page-about">Verbundserver</a>
    </div>
  </div>

  <div class="margin-content">
    <router-outlet></router-outlet>
  </div>
</div>
